#command {
    margin-top: var(--step-0);
    display: grid;
    row-gap: var(--step-0);
    column-gap: var(--step-0);
}

#command > div {
    position: relative;
    background-color: var(--clr-face);
    border: 1px solid var(--clr-face);
    padding: 0;
    height: 6em;
    border-radius: 0.35em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

#command > div > button {
    background: none;
    border: none;
    color: #20202b;
    font-size: 2.2em;
    font-weight: bold;
    cursor: pointer;
    padding: 0;
    border-radius: 0.35em;
    height: 100%;
    width: 100%;
}

#command > div > div {
    height: 0.7em;
    width: 0.7em;
    position: absolute;
    background-color: #000;
    padding: 0;
    margin: 0;
    top: 0.35em;
    right: 0.35em;
    border-radius: 0.35em;
    /* border: 1px solid #444; */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 12px;
}

#command > div.enabled > div {
    background-color: #4BAC4F;
}

@media (max-width: 3399px) {#command {grid-template-columns: repeat(8, 1fr)}}
@media (max-width: 1399px) {#command {grid-template-columns: repeat(7, 1fr)}}
@media (max-width: 1199px) {#command {grid-template-columns: repeat(6, 1fr)}}
@media (max-width: 999px)  {#command {grid-template-columns: repeat(5, 1fr)}}
@media (max-width: 799px)  {#command {grid-template-columns: repeat(4, 1fr)}}
@media (max-width: 599px)  {#command {grid-template-columns: repeat(3, 1fr)}}