#graph {
    position: relative;
    background: var(--clr-pane);
    margin-top: var(--step-1);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 12px;
    height: 100%;
}

#graph > .buttons {
    position:absolute;
    display: flex;
    right: 0;
    padding: var(--step-0);
}

#graph > .buttons > div {
    height: var(--step-5);
    border: 3px solid var(--clr-face);
    border-radius: 100%;
    padding: var(--step--3);
    cursor: pointer;
    margin-left: var(--step-0);
}

#graph > .buttons > .connector {
    background-color: var(--clr-red);
}

#graph > .buttons > .connector.active {
    background-color: var(--clr-green);
}